

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card">
        <a href='/cuisines/1'><img class="card-img-top" src="https://images.unsplash.com/photo-1558985212-92c2ff0b56e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Sushi"></a>
        <div class="card-body">
          <h5 class="card-title">Japanese</h5>
          <p class="card-text">Japanese cuisine that is sure to tantalize your tastebuds.</p>
        </div>
      </div>

  <div class="card">
    <a href='/cuisines/2'><img class="card-img-top" src="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80" alt="Mexican food"></a>
    <div class="card-body">
      <h5 class="card-title">Mexican</h5>
      <p class="card-text">Tacos, quesadillas, pambazos, tamales, huaraches, alambres, al pastor. Need I say more?</p>
    </div>
  </div>

  <div class="card">
    <a href='/cuisines/3'><img class="card-img-top" src="https://images.unsplash.com/photo-1555196301-9acc011dfde4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Cheeseburger"></a>
    <div class="card-body">
      <h5 class="card-title">American</h5>
      <p class="card-text">We've got you covered with the classics like burgers, fried chicken, hot dogs and pancakes.</p>
    </div>
  </div>
    </div>
    <div class="col-sm">
        <div class="card">
    <a href='/cuisines/4'><img class="card-img-top" src="https://images.unsplash.com/photo-1550303659-a777c03a27bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Chinese food"></a>
    <div class="card-body">
      <h5 class="card-title">Chinese</h5>
      <p class="card-text">Food that tastes just like Uncle used to make on the streets of Shanghai.</p>
    </div>
  </div>
  <div class="card">
    <a href='/cuisines/5'><img class="card-img-top" src="https://images.unsplash.com/photo-1517314626714-ac1b9a16515e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Moroccan food"></a>
    <div class="card-body">
      <h5 class="card-title">Moroccan</h5>
      <p class="card-text">Moroccan cuisine is influenced by Morocco's interactions with other cultures over the centuries.</p>
    </div>
  </div>
  <div class="card">
  
    <a href='/cuisines/6'><img class="card-img-top" src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80" alt="Moroccan food"></a>
    <div class="card-body">
      <h5 class="card-title">French</h5>
      <p class="card-text">Exquisite, elegant and sophisticated dishes are not only for dining out. Be fancy from the comfort of home.</p>
    </div>
  </div>
    </div>
    <div class="col-sm">
        <div class="card">
    <a href='/cuisines/7'><img class="card-img-top" src="https://images.unsplash.com/photo-1441850605338-1b0b5a22e7b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Thai food"></a>
    <div class="card-body">
      <h5 class="card-title">Thai</h5>
      <p class="card-text">Dishes that display strong aromatic components and a spicy edge.</p>
    </div>
  </div>
  <div class="card">
    <a href='/cuisines/8'><img class="card-img-top" src="https://images.unsplash.com/photo-1498579150354-977475b7ea0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Italian food"></a>
    <div class="card-body">
      <h5 class="card-title">Italian</h5>
      <p class="card-text">More than just pizza and spaghetti. Explore the huge variety of Italian dishes and try something new!</p>
    </div>
  </div>
  <div class="card">
    <a href='/cuisines/9'><img class="card-img-top" src="https://images.unsplash.com/photo-1552913903-2cffa1962dc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="German food"></a>
    <div class="card-body">
      <h5 class="card-title">German</h5>
      <p class="card-text">German cuisine is so much more than just sausage and meat. There's sauerkraut too!</p>
    </div>
  </div>
    </div>
  </div>
</div>
