<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<h1>GrubCRUD</h1>
<h3>Explore our cuisines</h3>
<% @cuisines.each do |cuisine|%>
  <p><%= link_to cuisine.name, cuisine_path(cuisine) %></p>
  <%= link_to image_tag("#{cuisine.img_url}", :size => '400x200'), cuisine_path(cuisine) %>
<% end %>
