<h1>GrubCRUD</h1>
<h3>Explore our cuisines</h3>
<% @cuisines.each do |cuisine|%>
  <p><%= link_to cuisine.name, cuisine_path(cuisine) %></p>
  <%= link_to image_tag("#{cuisine.img_url}", :size => '400x200'), cuisine_path(cuisine) %>
<% end %>
