<h2 id="cuisine-name"><%=@cuisine.name%></h2>

<div class="container">
  <div class="row">
    <% @cuisine.restaurants.each do |restaurant| %>
    <%if restaurant.items.count > 0 %>
      <div id="cuisine-cards" class="card">
        <%= link_to image_tag("https://loremflickr.com/#{restaurant.img_url}", :size => '300x200'), restaurant_path(restaurant) %>
        <div class="card-body">
          <h4 id="restaurant-names"><%=restaurant.name%></h4>
        </div>
      </div>
      <%end %>
    <% end %>
  </div>
<a href = '/'><button type="button" class="btn btn-danger btn-md back-button">Back to Home</button></a>
</div>

