
<h1> Welcome to <%=@restaurant.name%></h1>
<br>





  <%@restaurant.items.each do |item|%>
    <div>
    <p>Name: <%=item.name%></p>
    <p>Description: <%=item.description%></p>
    <p>Item Price: $<%=item.price %></p>

    <hr>
    </div>

<% end %>


