// Place all the styles related to the Cuisines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cuisine-name {
    text-align: center;
    font-weight: 700;
}

#cuisine-cards {
    margin: 0.5em;
}

#restaurant-names {
    text-align: center;
}