// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart-wrapper {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.red-hover {
    color: gray;
}

.red-hover:hover {
    text-decoration: none;
    color: red;
}

.browse-restaurants {
    padding-bottom: 30%;
}

#order-confirmation {
    text-align: center;
}