// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: red;
}

.delete-button {
    color: white !important;
}

.profile-container {
    text-align: center;
}

.well
{
   padding: 35px;
   padding-left: 30px;
   box-shadow: 0 0 10px #666666;
   margin: 4% auto 0;
   width: 450px;
}



.input-group-addon
{
    background-color: white;
    color: red;
}

